<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <p><%= operation %></p>
    <form method="GET" action="/users/login">
      <input type="submit" value="Entra">
    </form>
    <form method="GET" action="/users/register">
      <input type="submit" value="Registrate">
    </form>
  </body>
</html>
