<html>
    <head>
        <meta charset = "utf8">
        <title>Lista de equipos:</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h2>Lista de equipos:</h2>
        <%= pruebesita%>
    </body>
</html>

