<html>
    <head>
        <meta charset = "utf8">
        <title>Login de usuario</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h2>Login de usuario</h2>
        <p>Introduzca sus datos:</p>
        <form method="post" action = "/users/login">
            <p>
                <label for="email">Email de usuario: </label>
                <input type="email" name="email" id="email" required/>
                </br>

                <label for="password">Contraseña: </label>
                <input type="password" name="password" id="password" required/>
                </br>
                
                <input type="submit" name="Enviar"/>
            </p>
        </form>
    </body>
</html>