<html>
    <head>
        <meta charset="utf8">
        <title>Agregar usuario</title>
        <link rel='stylesheet' href='/stylesheets/style.css'>
    </head>
    <body>
        <h2>Usuario <%=user[0].username%></h2>
            <ul>
                <li><strong>Nombre de usuario:</strong><%=user[0].username</li>
            </ul>
    </body>
</html>